@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


div .body-box {
    height: 432px;
    background-color: #f6f6f6;
}

div .image-bg .image img {
    height: 432px;
    width: 675.5px;
    object-fit: cover;
}

.logo {
    height: 64px;
}

.text-center h1 {
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}


.btn-outline-primary {
    color: #1A73E8;
    font-size: 14px;
    border: 1px solid #dadce0;
    width: 145px;
    height: 44px;
    margin: 15px;
  }
  
.btn-primary {
    width: 150px;
    height: 44px;
    font-size: 14px;
  }

.text-about {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.text-about p {
    font-size: 14px;
}

.text-about p .sub {
    font-size: 18px;
}
